.blue {
  color: blue;
}

.red {
  color: red;
}

.purple {
  color: purple
}

table {
  width: 50%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid rgb(58, 14, 235);
  padding: 8px;
  text-align: center;
}

th {
  background-color: #b5decc;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 100px); 
  grid-template-rows: repeat(2, 100px); 
  gap: 10px; 
}

.box {
  width: 100px;
  height: 100px;
}

.box1 { 
  background-color: rgb(63, 5, 5); 
  grid-column: 1 / 2; grid-row: 1 / 2; 
}

.box2 { 
  background-color: rgb(8, 8, 78); 
  grid-column: 2 / 3; grid-row: 1 / 2;
}
.box3 { 
  background-color: rgb(78, 120, 78); 
  grid-column: 1 / 2; grid-row: 2 / 3; 
}
.box4 { 
  background-color: yellow; 
  grid-column: 2 / 3; grid-row: 2 / 3;
}
.box5 { 
  background-color: rgb(134, 85, 134); 
  grid-column: 3 / 4; grid-row: 2 / 3;
}

body {
  background-color: #f0f0f0;
}